# Server Port (Required to be 3000 for AI Studio Cloud Run ingress)
PORT=3000

# Node Environment ('development' | 'production')
NODE_ENV=development

# Application Public Host URL
APP_URL=http://0.0.0.0:3000

# MongoDB Database Connection URI (Optional: omit to run with high-performance internal auto-seeded memory store)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/accredian_enterprise?appName=Cluster0

# Optional Gemini API Key for Server-Side AI calls
GEMINI_API_KEY=
